body,
html {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

/* Шапка */

header {
  position: absolute; /* Чтобы наложить на секцию */
  top: 20px; /* Отступ сверху */
  left: 50%; /* Центрирование по горизонтали */
  transform: translateX(-50%); /* Смещение для центрирования */
  height: 65px; /* Фиксированная высота */
  width: 90%; /* Ширина 90%, чтобы не касаться сторон экрана */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Внутренние отступы */
  background: linear-gradient(115deg, #ffffff 30%, #1a2b4c 30%);
  border-radius: 30px; /* Закругленные углы */
  z-index: 1000; /* Чтобы было над секцией */
}

.logo{
  display: flex;
}

.logo img {
  height: 80px;
  margin-top: 10px; /* Убираем лишние отступы */
}

nav {
  margin-right: 20px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #557ca7;
}

/* Главный слайдер */

.slider {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slides {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-out;
  transform: translateX(0%);
  width: 500vw;
}

.slide {
  min-width: 100vw;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: opacity 0.5s ease;
  flex-shrink: 0;
}

.slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes lineUpAnimation {
  from {
    transform: translateY(
      -100%
    ); /* начальное положение: текст за пределами видимой области */
    opacity: 0;
  }
  to {
    transform: translateY(
      0%
    ); /* конечное положение: исходное положение текста */
    opacity: 1;
  }
}

.caption {
  position: absolute;
  bottom: 0%;
  left: 40%;
  transform: translateX(-50%);
  color: white;
  text-align: left;
  font-size: 7em;
  line-height: 1.1;
  z-index: 1000;
}

.slide-1 .caption {
  top: 5%;
  left: 30%;
}

.slide-2 .caption {
  bottom: -5%;
  left: 40%;
}

.slide-3 .caption {
  top: 10%;
  right: 0%;
}

.slide-4 .caption {
  bottom: 12%;
  left: 40%;
}

.slide-5 .caption {
  top: 5%;
  right: 0%;
}

/* Анимация для плавного появления текста */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.slide.active .caption {
  opacity: 1;
}

.slide[style*="transform: translateX(0%)"] .caption {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  height: 100%;
  width: 3%;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.slider-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #25427e;
}
/* Услуги */

.services-section {
  background-color: #1a2b4c;
  padding: 30px 30px;
  text-align: center;
  color: #fff;
}

.section-text {
  text-align: center;
}

.section-text h2 {
  margin-top: 0;
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #fff;
}

.section-text p {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 40px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.service-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 30px 20px;
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  box-sizing: border-box;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.service-icon {
  font-size: 50px;
  color: #25427e;
  margin-bottom: 20px;
}

.service-card h3 {
  margin: 15px 0;
  color: #333;
  font-size: 1.5em;
}

.service-card p {
  color: #777;
  margin: 0;
  font-size: 1em;
}

.about,
.contacts {
  text-align: center;
  padding: 40px 20px;
  background-color: white;
  margin: 20px 0;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}
.animate {
  opacity: 1;
  transform: translateY(0);
}
.about-section {
  padding: 100px;
  background-color: #f9f9f9;
  font-family: "Arial", sans-serif;
}
.about-section h2,
.about-section h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  position: relative;
}
.about-section h2::after,
.about-section h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #25427e;
  margin: 10px auto;
}
.about-section p,
.about-section ul {
  text-align: justify;
  color: #555;
  margin: 20px 0;
}
.about-section ul {
  list-style: none;
  padding: 0;
}
.about-section li {
  margin: 10px 0;
  position: relative;
  padding-left: 25px;
}
.about-section li::before {
  content: "\2022";
  color: #25427e;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: absolute;
  left: 0;
  top: 0;
}

/* Статистика */

.stats {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.section-divider {
  border: 0;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  margin: 0; /* Отступы для разделения секций */
}

.stat-item {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Прозрачный белый фон для блоков */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 0 10px;
  max-width: 200px;
}

.stat-item i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #25427e;
}

.stat-number {
  font-size: 40px;
  font-weight: bold;
  color: #333;
}

.stat-item hr {
  width: 50px;
  border: none;
  border-top: 2px solid #3498db;
  margin: 10px auto;
}

.stat-item p {
  font-size: 16px;
  color: #666;
}

/*Блок о нас*/

.about-section {
  border-bottom: #333;
  border-width: 5px;
  background-color: white;
  padding: 100px;
  color: #333;
  text-align: center;
}

.about-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #1a2b4c;
}

.about-section p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.stats-section {
  background: linear-gradient(135deg, #1a2b4c, #2980b9);
  padding: 60px 20px;
  color: #fff;
  text-align: center;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.stat-item {
  flex: 1 1 20%;
  margin: 20px;
}

.stat-number {
  font-size: 3em;
  font-weight: bold;
}

.stat-item p {
  margin-top: 10px;
  font-size: 1.2em;
}

.stat-item i {
  margin-right: 8px;
}

/* Новости */

.news {
  padding: 30px;
  background-color: #f9f9f9;
  text-align: center;
}

.news h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.news-container {
  display: flex;
  gap: 30px;
  transition: transform 0.5s ease;
}

.news-card {
  flex: 0 0 28%; /* Карточки занимают 28% ширины, чтобы они были аккуратнее и не слишком широкими */
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.news-card h3 {
  margin: 0 0 10px;
  color: #25427e;
}

.news-card p {
  color: #555;
}

.news-card button {
  background-color: #25427e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-date {
  font-size: 0.9em;
  color: #999;
}

.news-card.center {
  transform: scale(1.1);
  z-index: 5;
}
/* Стили для модального окна */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Стили для кнопки "Добавить новость" */
#add-news-btn {
  background-color: #25427e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
  margin: 20px auto;
}

#add-news-btn:hover {
  background-color: #1a3362;
}

/* Перемещаем кнопку "Добавить новость" в правый нижний угол */
.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25427e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fixed-button:hover {
  background-color: #1a3362;
}

/* Стили для модального окна */
.modal-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #25427e;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.close-btn {
  color: #25427e;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #1a3362;
}

/* Стили для элементов формы внутри модального окна */
#news-form label {
  display: block;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
}

#news-form input[type="text"],
#news-form input[type="date"],
#news-form textarea,
#news-form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#news-form button {
  background-color: #25427e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  display: block;
}

#news-form button:hover {
  background-color: #1a3362;
}

/*еще*/

/* Стили для ссылки "Подробнее" на карточке */
.read-more-btn {
display: inline-block;
margin-top: 10px;
padding: 8px 15px;
background-color: #25427e;
color: white;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s;
}

.read-more-btn:hover {
background-color: #1a3362;
}


h1 {
color: #25427e;
}

.content-images img {
max-width: 100%;
border-radius: 10px;
margin-bottom: 20px;
}

.content-description {
margin-bottom: 30px;
color: #555;
}

.back-btn {
display: inline-block;
padding: 10px 20px;
background-color: #25427e;
color: white;
border: none;
border-radius: 5px;
text-decoration: none;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s;
}

.back-btn:hover {
background-color: #1a3362;
}


/* футер */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footerP {
  margin: 15px;
}

.footer-content,
.road {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact-info,
.moving-car,
.road {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  background-color: #8d8d8d;
  flex: 0 0 70%;
  padding: 15px;
  position: relative;
}

.footer-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #e0e0e0;
}

.road {
  background-color: #424242;
  color: #fff;
  flex: 0 0 30%;
  padding: 20px;
}

.roadp a {
  color: #8ab4f8;
  text-decoration: none;
  transition: color 0.3s ease;
}

.roadp a:hover {
  color: #c0c0c0;
  text-decoration: underline;
}

.moving-car img {
  z-index: 1000;
  width: 100px;
  position: absolute;
  animation: moveCar 10s linear infinite;
  transform: scaleX(-1);
}

@keyframes moveCar {
  from {
    left: -100px;
  }
  to {
    left: 100%;
  }
}

.news-image {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

#news-content {
  font-size: 18px;
  line-height: 1.6;
}

.news-slider {
  position: relative;
  width: 100%;
  margin: 40px 0;
  overflow: hidden;
}

.news-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.news-slide {
  flex: 0 0 33.33%; /* Каждая новость занимает 1/3 ширины контейнера */
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.7;
  margin: 0 10px;
}

.news-slide.active {
  transform: scale(1.2); /* Увеличение центральной новости */
  opacity: 1;
}

.news-prev,
.news-next {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.news-prev:hover, .news-next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.news-prev {
  left: 10px; /* Зафиксированная позиция слева */
}

.news-next {
  right: 10px; /* Зафиксированная позиция справа */
}

.news-slider-indicators {
  position : absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.news-slider-indicators .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.news-slider-indicators .dot.active {
  background-color: #fff;
}

.news-slider-container {
  width: 100%;
  overflow: hidden;
}

.news-indicators {
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-slider-wrapper {
  position: relative;
  max-width: 90%; /* Увеличиваем максимальную ширину блока */
  margin: 40px auto; /* Увеличиваем верхний и нижний отступы */
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.admin-controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.edit-btn, .delete-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
}

.edit-btn i {
  color: #4CAF50; /* Зеленый для редактирования */
}

.delete-btn i {
  color: #f44336; /* Красный для удаления */
}

.edit-btn:hover i, .delete-btn:hover i {
  transform: scale(1.2);
}

        .swiper-slide {
            position: relative;
            height: 100vh;
        }

        /* Затемнение через псевдоэлемент */
        .swiper-slide::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Здесь добавлено затемнение */
            z-index: 1; /* Чтобы затемнение было выше изображения, но ниже текста */
        }

        .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .hamburger-menu {
          display: none; /* По умолчанию скрыто */
      }

/* Скрываем меню на мобильных устройствах по умолчанию */
@media (max-width: 480px) {
  nav ul {
    display: none; /* Скрываем меню по умолчанию */
    flex-direction: column; /* Вертикальное направление элементов */
    position: absolute; 
    top: 70px; 
    right: 20px;
    background-color: #1a2b4c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  header{
    background: linear-gradient(115deg, #ffffff 70%, #1a2b4c 20%);
  }

  .logo img {
    height: 70px; /* Уменьшили высоту логотипа */
    margin-top: 5px; /* Уменьшили верхний отступ */
  }

  /* Отображаем кнопку гамбургера */
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  /* Кнопка гамбургера */
  .hamburger-menu i {
    font-size: 24px;
    color: white;
  }

  /* Когда меню открыто, показываем его */
  .show-menu {
    display: flex !important;
  }
  .caption {
    line-height: 1.5;
    font-size: 2.5em; /* Уменьшаем размер текста на мобильных устройствах */
  }

  .slide-1 .caption {
    top: 20%;
    left: 50%;
  }
  
  .slide-2 .caption {
    top: 22%;
    left: 55%;
  }
  
  .slide-3 .caption {
    top: 15%;
    right: 15%;
    line-height: 1.3;
  }
  
  .slide-4 .caption {
    bottom: 5%;
    left: 45%;
  }
  
  .slide-5 .caption {
    top: 30%;
    left: 354%;
    font-size: 1.8em;
  }

}
