<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .newsblk{
            height: auto;
            width: 300px;
            margin: 10px;
            border-radius: 15px;
            border: 2px solid black;
        }
        .newsblk h3{
            margin: 5px;
        }
        .newsblk p{
            margin: 5px;
        }
        .newsblk button{
            margin: 0 0 0 0 ;
        }
    </style>
</head>
<body>
    <section class="news">
        <div class="newsblk">
            <h3>Название</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Sit quia eius, nam nemo et minima quisquam consectetur, 
                molestiae in magni quis modi voluptatibus nisi fuga illo omnis aliquam! 
                Optio, veniam?</p>
            <button>Подробнее</button>
        </div>
    </section>
</body>
</html>