<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .newsblk{
            height: 300px;
            width: 300px;
        }
    </style>
</head>
<body>
    <section class="news">
        <div class="newsblk">
            <h3>Название</h3>
            <img>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit quia eius, nam nemo et minima quisquam consectetur, molestiae in magni quis modi voluptatibus nisi fuga illo omnis aliquam! Optio, veniam?</p>
        </div>
    </section>
</body>
</html>